---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search";
}

const { activeNav } = Astro.props;
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href="/" class="logo whitespace-nowrap">
        {
  LOGO_IMAGE.enable ? (
    LOGO_IMAGE.svg ? (
      <svg
        width={LOGO_IMAGE.width}
        height={LOGO_IMAGE.height}
        aria-label={SITE.title}
        class="svg-logo"
        viewBox="0 0 96 96"
      >
          <path d="M84.62 65.1a40.69 40.69 0 0 1-7.77 11.18c-5.65-5-15.39-5.9-17.7-6.06a7.09 7.09 0 0 1-2.87-4.8C55.71 61 59 56.23 59.92 55.05c1.48-.67 6.21-3.06 6.75-6.73a4.16 4.16 0 0 0-.86-3.32 6.69 6.69 0 0 0-4.51-2 1.5 1.5 0 0 0-1.55 1.27l-.1.93c0-.14 0-.27.05-.42a8.83 8.83 0 0 0-1.7-6.92c-1.89-2.43-5.06-3.93-9.17-4.32-5.6-.55-5.65-4.25-5.64-4.65a1.53 1.53 0 0 0-.72-1.36 1.5 1.5 0 0 0-1.52 0c-5.32 3-9.93 9.8-11.46 16.83-1.22 5.6-.38 10.78 2.36 14.6a16.62 16.62 0 0 0 10.63 6.91v2.88c-3.54.3-12.62 1.63-19 7.34a1.1 1.1 0 0 1-.48-.38 3.17 3.17 0 0 1 .18-2.52 1.53 1.53 0 0 0-.2-1.39 1.5 1.5 0 0 0-1.26-.62 4.91 4.91 0 0 1-3.14-1.08 2.85 2.85 0 0 1-.64-2.34c.22-2.75 1.18-3.45 1.71-3.39a1.5 1.5 0 0 0 1.63-2 6.72 6.72 0 0 1 0-4.69 4.59 4.59 0 0 1 3-2.28 1.5 1.5 0 0 0 .54-2.57c-.65-.56-2.44-2.51-2.13-4s2.38-2.37 4.08-2.91a1.48 1.48 0 0 0 1-1.57c0-.11-1-11.49 5.11-16.93C36 24.59 40.49 23.8 46.23 25a1.57 1.57 0 0 0 .86-.07c.5-.2 12.33-4.77 18 6 5.85 11.19 3 17.3 3 17.35a1.52 1.52 0 0 0 .22 1.72 1.5 1.5 0 0 0 1.66.38c1.48-.58 4.11-1.1 5.08-.4.13.09.51.37.44 1.53-.23 3.73-.89 4.85-1 5.06a1.5 1.5 0 0 0 1 2.74s4.23-.36 7 2.07a7.24 7.24 0 0 1 2.13 3.72Zm-36.06 9.2a16.57 16.57 0 0 0 7.81-2.54 9.8 9.8 0 0 1-3.06-6c-.83-6.34 4.28-12.65 4.5-12.92a1.53 1.53 0 0 1 .59-.44c1.28-.52 5-2.48 5.3-4.55a1.17 1.17 0 0 0-.2-1 2.4 2.4 0 0 0-1.08-.65 3 3 0 0 1-3.2 1.93A2.9 2.9 0 0 1 56.63 45c0-.2 0-.41.08-.63a5.92 5.92 0 0 0-1.11-4.67c-1.37-1.76-3.82-2.86-7.09-3.18-4.83-.47-7.06-2.93-7.91-5.19A24.65 24.65 0 0 0 32.39 45c-1 4.76-.37 9.09 1.87 12.21A14 14 0 0 0 49 62.83l.82 2.89a16.57 16.57 0 0 1-4.39.44v4A1.5 1.5 0 0 1 44 71.64s-.62 0-1.6.12a7.17 7.17 0 0 0 6.16 2.54Zm-27.22 4a3.76 3.76 0 0 1-.86-.91 4.75 4.75 0 0 1-.63-3.39 6.68 6.68 0 0 1-3.47-1.82 5.77 5.77 0 0 1-1.46-4.65c.2-2.47 1-4.24 2.26-5.26a4.08 4.08 0 0 1 .82-.51 8.84 8.84 0 0 1 .56-5.4 6.81 6.81 0 0 1 2.78-2.95 6.69 6.69 0 0 1-1.56-5.23c.41-2 2.1-3.66 5-4.79C24.68 40 25 30.46 31 25.1c3.74-3.35 9-4.4 15.47-3.14 2.53-.85 15.07-4.33 21.29 7.57 4.29 8.2 4.38 14.06 3.86 17.27 1.67-.3 3.77-.36 5.25.71a4.46 4.46 0 0 1 1.66 4.14 21.68 21.68 0 0 1-.72 4.7 12.09 12.09 0 0 1 6.63 2.72 9.69 9.69 0 0 1 1.76 2.13 40.42 40.42 0 1 0-64.9 17.12Zm17.85.85c3.69.07 5-1.38 5-1.44a1.57 1.57 0 0 1 1.17-.57 1.67 1.67 0 0 1 1.16.52c.11.12 2.74 3.11 6 1.83 1.71-.66 3.24-2.61 4.38-4.54a19.53 19.53 0 0 1-8.19 2.37h-.77a10.27 10.27 0 0 1-8.93-5.07l-.45.08c-.56 2.25-.92 5.38-.14 6.47a.8.8 0 0 0 .77.32Zm21.88-5.69c-1.09 2.49-3.63 7.36-7.42 8.83a7.83 7.83 0 0 1-2.78.53 8.85 8.85 0 0 1-5.55-2.18 10.66 10.66 0 0 1-6.19 1.51A3.79 3.79 0 0 1 36 80.56c-1.37-1.9-1.11-5.12-.68-7.43-4 1.18-8.6 3.3-11.74 7.08a40.33 40.33 0 0 0 51.06-1.87c-3.82-3.25-10.1-4.47-13.57-4.91Z"/>
        </svg>
    ) : (
      <img
        src={`/assets/logo.png`}
        alt={SITE.title}
        width={LOGO_IMAGE.width}
        height={LOGO_IMAGE.height}
      />
    )
  ) : (
    SITE.title
  )
}
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items" class="display-none sm:flex">
          <li>
            <a href="/posts/" class={activeNav === "posts" ? "active" : ""}>
              Posts
            </a>
          </li>
          <li>
            <a href="/tags/" class={activeNav === "tags" ? "active" : ""}>
              Tags
            </a>
          </li>
          <li>
            <a href="/about/" class={activeNav === "about" ? "active" : ""}>
              About
            </a>
          </li>
          <li>
            <LinkButton
              href="/search/"
              className={`focus-outline p-3 sm:p-1 ${
                activeNav === "search" ? "active" : ""
              } flex`}
              ariaLabel="search"
              title="Search"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="scale-125 sm:scale-100"
                ><path
                  d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
                ></path>
              </svg>
              <span class="sr-only">Search</span>
            </LinkButton>
          </li>
          {
            SITE.lightAndDarkMode && (
              <li>
                <button
                  id="theme-btn"
                  class="focus-outline"
                  title="Toggles light & dark"
                  aria-label="auto"
                  aria-live="polite"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                    <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                    <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                  </svg>
                </button>
              </li>
            )
          }
        </ul>
      </nav>
    </div>
  </div>
  <Hr />
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-8;
  }

  svg.svg-logo {
    @apply h-48 w-48;
      fill: rgb(var(--logo-color));
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<script>
  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("display-none");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
